# Ignore virtual environments
venv/

# Ignore ChromaDB data directory
bitbud_memory/
chroma_about/

# Python ignores
__pycache__/
*.py[cod]
*.egg-info/
.env
.DS_Store
test.py
ABOUT.md
todo.txt
.cache
bitbud.log